<!DOCTYPE html>
<html>
  <head>
    <title>RorTumblr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <%= link_to "Tumblr", root_path, class: "navbar-brand" %>
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <%= link_to "Posts", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "About", about_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" unless user_signed_in? %>
            </li>
            <li class="nav-item">
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" if user_signed_in? %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <% if user_signed_in? %>
        <nav class="navbar navbar-light bg-light">
          <% if current_page? root_path %>
            <p class="navbar-brand">Post feed</p>
          <% elsif current_page? about_path %>
            <p class="navbar-brand">About</p>
          <% else %>
            <%= link_to "Back to Post feed", root_path %>
          <% end %>


          <ul class="nav">
            <li class="nav-item">
              <%= link_to "Make Post", new_post_path, class: "nav-link" %>
            </li>
          </ul>
        </nav>
      <% end %>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert" %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
